<div class="container">
  <div class="card-category card-lesson" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1640574232355-08659783b9fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80)">
    Crypto's Beginner Guide
  </div>
</div>


<div class="tabs">
  <div class="tab-2">
    <label for="tab2-1">Crypto's Basics</label>
    <% if @tab == 2 %>
     <input id="tab2-1" name="tabs-two" type="radio">
    <%  else %>
      <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <% end %>
    <div>
    <div class="accordion accordion-flush" id="accordionFlushLesson">
      <div class="accordion-item what-is-crypto accordion-lessons">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            What is cryptocurrency ?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">Cryptocurrency is a new kind of internet money. Anyone, anywhere can use it to buy things online, and you can send it instantly to other users anywhere in the world, quickly and at very low cost, needing nothing more than a smartphone and an internet connection.
            <br>
            What makes cryptocurrency different from regular (fiat) money is that there is no bank, company or government authority behind it. This is what is meant by the term 'decentralized'.
            <br>
            That one word is a big deal, as it is the first time that money creation isn’t controlled by the government.
            <br>
            As well as functioning as a new type of internet money, cryptocurrency is also a very popular form of investment, with eye-popping long-term appreciation. Investors are speculating that cryptocurrencies will see wider adoption/use and have significant value in the future.
            <br>
            There are now thousands of cryptocurrencies in circulation, each trying to solve slightly different problems connected to moving value around.
          </div>
        </div>
      </div>
      <div class="accordion-item what-is-bitcoin accordion-lessons">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            What is Bitcoin?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">Bitcoin was the first ever cryptocurrency. Its creator is anonymous, using an alias - Satoshi Nakomoto. In October 2008 he/she/they published an outline - called a whitepaper - of how Bitcoin can work as a form of digital money that one person can send to another without going through some central authority
          <br>
          In early 2009 Bitcoin went live. At first it was treated as an experiment, but over time more people have started to recognise that as well functioning as an alternative type of digital money, Bitcoin functions like a digital gold - what is known as a store of value.
          <br>
          This is because:
          <div data-type="list" class="slice list"><div><ol><li>it is scarce - there will only ever be 21 million</li><li>you cannot copy, or create fake Bitcoin</li><li>&nbsp;it is almost impossible to fake Bitcoin transactions<br></li><li>it follows rules not rulers as there is no one person/entity in charge to manipulate it<br></li></ol></div> <!----> <!----> <!----></div></div>
        </div>
      </div>
      <div class="accordion-item why-crypto-value accordion-lessons">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Why does a cryptocurrency have value?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">The key to answering this question is understanding what value money has full stop. We use money to transport the energy we put into creating things of value through time and space.This is a hard concept to wrap your head around.
          <br>When early civilisations stopped being nomadic and had surpluses of useful items they used credit systems to exchange them. "Have this pair of sandals, I’ll take a credit of five chickens." This worked until the amount of things being exchanged grew too large to keep track of and people from outside of communities - who weren’t trusted - wanted to trade too.
          <br>
          The solution was money - it acts as an agreed medium of exchange and a store of value, storing the value of the energy we put into making or doing things. If you have ever inherited something of value, that is essentially transporting and storing the energy of your ancestors through space and time.
          <br>All early civilizations started experimenting with forms of money which have evolved over time, from jewellery or shells to gold. The soundest (most useful) forms of money have these qualities:
          <br>
          <ul><li>Scarce</li><li>Durable</li><li>fungible</li><li>Divisible</li><li>Portable</li><li>Recognisable</li></ul>
          <br>
          Bitcoin has all these qualities, and is the first digitally scarce money. There will only ever be 21 million Bitcoin, and they can only be created through a process called mining. Mining requires a huge amount of electricity (energy) which keeps the system secure, and stops manipulation, in return miners get rewards of new Bitcoin.
          <br>
          In this way Bitcoin is a new hybrid money, providing a superior medium of exchange and store of value to existing forms.
          </div>
        </div>
      </div>
      <div class="accordion-item why-many-cryptos accordion-lessons">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Why are there so many cryptocurrencies?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">
          There are a huge number of cryptocurrencies in circulation because the cost and effort required is quite small.
          <br>
          The technology to create cryptocurrencies is open source; that literally means anyone can copy the code (instructions) and adapt them, applying a different use case.
        <br>
        Cryptocurrencies generally work as services on a platform. Similar to the way developers can easily create Apps for Android and the Playstore, the Ethereum blockchain is designed to support applications that follow its standards, acting as the engine for different cryptocurrencies to run on.
        <br>
        This means that the cost of producing a new cryptocurrency is relatively low, the real challenge is generating a user base and meaningful value.
        <br>
        Each new cryptocurrency is trying to either improve the solutions to a known problem, or proposing a completely new solution to problems we face in everyday life. Most will fail, but the prize for those that see real adoption is enormous, so innovation is happening at a furious pace, especially in these areas:
        <br> <br>
        DEFI - financial services - lending/borrowing, trading, derivatives - open to anyone with a smartphone and internet connection.
        <br> <br>
        NFTS - Unique receipts that prove ownership and provenance of physical or digital assets, replacing things like title deeds, contracts or proof of ownership, but most popular for new forms of digital art and collectibles in gaming.
          </div>
        </div>
      </div>
      <div class="accordion-item how-bitcoin-work accordion-lessons">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            How does Bitcoin work?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">
          Bitcoin is a new monetary system without a central authority or workforce running things. To function, a monetary system needs to settle transactions and control the supply of money. It needs to do that in a secure way so that transactions happen only once - avoiding what is known as double spend.
          <br>
          Bitcoin settles transactions and issues new Bitcoin at a strictly controlled rate via a network of what are called Miners. This is all described by the rules running Bitcoin - its software - which all Miners run a version of on specially designed computers dedicated to the mining process.
        <br>
        They compete against each other to process new transactions, bundle them into blocks (to be added to the Bitcoin blockchain) and receive a reward of new Bitcoin (growing the supply at a fixed rate until it reaches 21 million).
        <br>
        The work consists of solving an arbitrary maths puzzle, which gets harder as more miners join the competition, and makes the system stronger as it requires more potential energy to try and disrupt it.
        <br>
        It isn’t intuitive, but could you explain what happens behind the scenes when you tap your debit card for a coffee? And that doesn’t stop you doing it, or trusting it.
        <br>
        What matters most is that there is a greater economic incentive for participants of the Bitcoin system to help run and protect it, then to attack it. So over time it gets stronger, more decentralised and independent, and impossible to stop.

          </div>
        </div>
      </div>
      <div class="accordion-item What-stablecoin accordion-lessons">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            What is a Stablecoin & what does it do?
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">
          <br>
          A Stablecoin is a type of cryptocurrency specifically designed to maintain a stable value relative to an existing currency such as the US Dollar. USDT (aka Tether) is a Stablecoin that attempts to maintain 1:1 parity with the real US Dollar. There are many Stablecoin variants, the difference being how they maintain that parity.
        <br>
        Why, you might reasonably ask, do we need a crypto version of the US Dollar? Why not just use dollars? Government issued money comes with strings attached. It isn’t easy to move it between countries, or exchange it, and there are a few hurdles to buying cryptocurrencies with USD.
        <br>
        Stablecoins are therefore, a bridge between the money we are used to, and the new forms of money that cryptocurrency offers.
        <br>
        One of the main characteristics of crypto is price volatility. This is because they are immature and their value depends on perceptions of potential future use. Some see this as a great investment opportunity, but they lack stability, for which Stablecoins were created.
        <br>
        <br>
        <ul><li>They allow crypto traders to avoid volatility without having to pull funds back to fiat</li><li>They are good for settling international payments</li><li>They provide a simple and intuitive way to enter the crypto market</li><li>They are an integral part of DEFI &amp; leveraged crypto trading</li></ul>
        <br>
          </div>
        </div>
      </div>
      <div class="accordion-item how-bitcoin-work accordion-lessons">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed accordion-lessons" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            What is a Blockchain & what does it do?
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushLesson">
          <div class="accordion-body">
          Every piece of digital information, from your photos on social media to the components of the web page you are reading right now, are stored in a database somewhere. Whoever has access to that database, controls those items and if they wish, can alter them, replace them or delete them. Databases are centralised stores of information.
          <br>
          A blockchain is a system of storing information without a central controlling authority. A blockchain storing your photos would mean that they exist across a network of servers that maintain an agreement on how many photos exist and the correct version. This is called "decentralisation".
        <br>
        Blockchains are designed to make it very hard for anyone intent on removing or editing those photos. That quality is called censorship resistance.
        <br>
        The first ever blockchain was the Bitcoin blockchain. It was designed to enable a new form of money that wasn’t controlled by a central authority (a bank) but instead managed by a network of different participants processing new transactions and creating new bitcoin (Miners) and validating transaction accuracy (Nodes).
        <br>
        So Bitcoin is controlled by the many, not the few.
        <br>
        Your bank balance is just a record on a database maintained by your bank. You trust the bank to keep an accurate record. The wider monetary system is maintained by the central bank. They can grow/shrink the money supply however they want, which has consequences for all of us.
        <br>
        Blockchains are a way to remove the dangers of centralised control, which in the case of money can have disastrous consequences.
          </div>
        </div>
      </div>
  </div>


    </div>
  </div>
  <div class="tab-2">
    <label for="tab2-2">Create a Wallet</label>
    <% if @tab == 2 %>
     <input id="tab2-2" name="tabs-two" type="radio" checked="checked">
    <%  else %>
      <input id="tab2-2" name="tabs-two" type="radio">
    <% end %>



        <div class="accordion accordion-flush" id="accordionFlushWallet">
          <div class="accordion-item accordion-wallet">
            <h2 class="accordion-header" id="flush-headingTwentyone">
              <button class="accordion-button collapsed accordion-wallet" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentyone" aria-expanded="false" aria-controls="flush-collapseTwentyone">
                What is Cryptocurrency Wallet?
              </button>
            </h2>
            <div id="flush-collapseTwentyone" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentyone" data-bs-parent="#accordionFlushWallet">
              <div class="accordion-body">It is a piece of software or a program that can be easily downloaded on a compatible device. It will keep track of your available balance, the different expenses, and lets users hold more than 100 digital currencies at once. A Cryptocurrency wallet can be downloaded and installed on a smartphone. It can be used for making daily purchases, as a long term investment, or just utilize its cold storage facilities.</div>
            </div>
          </div>
          <div class="accordion-item accordion-wallet">
            <h2 class="accordion-header" id="flush-headingTwentytwo">
              <button class="accordion-button collapsed accordion-wallet" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentytwo" aria-expanded="false" aria-controls="flush-collapseTwentytwo">
                What are the Types of Cryptocurrency Wallets?
              </button>
            </h2>
            <div id="flush-collapseTwentytwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentytwo" data-bs-parent="#accordionFlushWallet">
              <div class="accordion-body">
                  <ul>
                    <li><strong>Desktop wallets</strong> can be downloaded and used on a PC or laptop. They are accessible only from the single computer on which it was originally installed. They are mostly secure except in cases of a virus or a hacking attack on your computer. This would lead to the loss of all of your funds. Popular examples of a desktop wallet would be Armory and Bitcoin Knots.</li>
                    <br>
                    <li><strong>Virtual wallet</strong> for cryptocurrency is also called an online wallet. They operate on the cloud and can be accessed from any location using any device without any restrictions. They are very convenient to use as private keys can be stored online. But, sometimes they are vulnerable to hacking attacks and chances of theft as they are indirectly controlled by a third party.</li>
                    <br>
                    <li><strong>Mobile wallets</strong> can be utilized via an app on your smartphone. They are accepted by retail stores and supermarkets for processing various payments. They usually have limited cold storage facilities than desktop wallets. Some of the well-known mobile wallets are Green Address, Bither, and BitGo.</li>
                    <br>
                    <li><strong>Hardware wallets</strong> are a bit different from software wallets like desktop, mobile, and online wallets as they do not store the user’s private keys online but store them on a hardware device like a USB. They have robust security measures as they are stored online and transactions can also be executed online. They can support different digital currencies and are seamlessly compatible with several web interfaces. Some famous hardware wallets are Trezor, Ledger Nano S, and KeepKey.</li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item accordion-wallet">
            <h2 class="accordion-header" id="flush-headingTwentythree">
              <button class="accordion-button collapsed accordion-wallet" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwentythree" aria-expanded="false" aria-controls="flush-collapseTwentythree">
                Why Should You Worry about Selecting a Crypto Wallet?
              </button>
            </h2>
            <div id="flush-collapseTwentythree" class="accordion-collapse collapse" aria-labelledby="flush-headingTwentythree" data-bs-parent="#accordionFlushWallet">
              <div class="accordion-body">The foremost factor that might be striking your mind while reading this is the reason for doing the same. Why should you learn about the crypto wallet categories? One of the recent password leaks involved the exposure of almost 8.4 billion passwords. The leak included various old passwords as well as many current passwords for email and bank accounts. So, when you think of cryptocurrency and the money involved in it, it is quite important to think of security.

How will you store cryptocurrency? What will be the ideal method for using cryptocurrency to minimize loss? Could you get the advantage of security for storing your crypto assets? The answers to all these questions point out a clear impression of the different types of crypto wallet. So, you need to understand crypto wallets carefully for identifying the suitable alternative among available options for your requirements.</div>
            <br>
            <br>
            </div>
          </div>
        </div>




  </div>

</div>
